body{
    background-color: skyblue;
}

h1, h2{
    text-align: center;
    font-family:"Trebuchet MS", Helvetica, sans-serif; 
}

button{
    margin: 0;
    text-align: center;
    position: relative;
}